* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    color: #002775;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef9;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 22px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(radio.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
   background-image: url(checked.png); 
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: red;
}

@media(max-width: 600px) {
    .container {
        width: 100%;
        height: 100vh;
    }
    .todo-app {
        width: 100%;
    }
    #toast-container {
        right: 20px !important;
        top: 60px !important;
    }
}
.row {
    padding-left: 0px;
    
}
input {
    width: 100%;
    padding: 10px;
}
#toast-container {
    position: fixed;
    top: 120px;
    right: 300px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast {
    padding: 1rem 1.5rem;
    background: #333;
    color: white;
    border-radius: 8px;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    animation: slideIn 0.4s ease forwards;
    opacity: 0;
}

.toast.success {
    background: black;
}

.toast.error {
    background: #e74c3c;
}

.toast.info {
    background: #3498db;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(50px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; transform: translateX(50px); }
}